.Content {
  align-content: left;
}

h1 {
  font-size: 5px;
}

.Left {
  margin-top: 10px;
  width: 100%;
  float: none;
  text-align: center;
}

.Left Portrait {
  margin-top: 10px;
  width: 50%;
}

.Right {
  width: 100%;
  float: none;
}

.Left h1 {
  font-size: 5px;
}

.Right p {
  font-size: 18px;
  font-family: "Avenir Next", "Nunito", sans-serif;
  margin-right: 20px;
}

.Right ul {
  font-size: 18px;
  font-family: "Avenir Next", "Nunito", sans-serif;
}
