/*
Color Pallette Guide:
Gainsboro - #E0E0E2 (gray)
Dark Red - #B10F2E
Rich Black - #0E1116
Metallic Sunburst - #9B7E46 (gold)
/*

/* CSS Code for making the Header of the Homepage */
.Header {
  padding: 20px;
  background-color: #E0E0E2;
}

.Header h1 {
  font-size: 32px;
  font-weight: bold;
  font-family: "Avenir Next", "Nunito", sans-serif;
  text-align: center;
  color: #0E1116;
}

/* The navbar container */
.Navigation {
  overflow: hidden;
  background-color: #B10F2E;
}

.Content {
  align-content: left;
}

h1 {
  font-size: 5px;
}

.Left {
  margin-top: 10px;
  width: 100%;
  float: none;
  text-align: center;
}

.Left Portrait {
  margin-top: 10px;
  width: 50%;
}

.Right {
  width: 100%;
  float: none;
}

.Left h1 {
  font-size: 5px;
}

.Right p {
  font-size: 18px;
  font-family: "Avenir Next", "Nunito", sans-serif;
  margin-right: 20px;
}

.Right ul {
  font-size: 18px;
  font-family: "Avenir Next", "Nunito", sans-serif;
}

/* Navbar links */
.Navigation a {
  float: left;
  display: block;
  font-family: "Avenir Next", "Nunito", sans-serif;
  color: #E0E0E2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.Navigation a:hover {
  background-color: #9B7E46;
  color: #E0E0E2;
}

.Footer {
  background-color: #E0E0E2;
  text-align: center;
  padding: 10px;
  margin-top: 670px;
}

.Footer p {
  font-size: 16px;
  color: #0E1116;
  font-family: "Avenir Next", "Nunito", sans-serif;
}

.Footer a {
  font-size: 16px;
  color: #0E1116;
  font-family: "Avenir Next", "Nunito", sans-serif;
}

.Footer a:hover {
  background-color: #9B7E46;
  color: #E0E0E2;
}
