/*
Color Pallette Guide:
Gainsboro - #E0E0E2 (gray)
Dark Red - #B10F2E
Rich Black - #0E1116
Metallic Sunburst - #9B7E46 (gold)
/*

/* CSS Code for making the Header of the Homepage */
.Header {
  padding: 20px;
  background-color: #E0E0E2;
}

.Header h1 {
  font-size: 32px;
  font-weight: bold;
  font-family: "Avenir Next", "Nunito", sans-serif;
  text-align: center;
  color: #0E1116;
}

/* The navbar container */
.Navigation {
  overflow: hidden;
  background-color: #B10F2E;
}

/* Navbar links */
.Navigation a {
  float: left;
  display: block;
  font-family: "Avenir Next", "Nunito", sans-serif;
  color: #E0E0E2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.Navigation a:hover {
  background-color: #9B7E46;
  color: #E0E0E2;
}

.Introduction {
  align-content: left;
}

.Introduction a {
  font-size: 18px;
  color: #000000;
}

.Introduction a:visited {
  font-size: 18px;
  color: #000000;
}

.Introduction a:hover {
  color: #9B7E46;
}

.Introduction h1 {
  font-size: 32px;
  font-family: "Courier";
  text-align: center;
}

.Introduction h2 {
  font-size: 20px;
  font-family: "Avenir Next", "Nunito", sans-serif;
  text-align: center;
}

.Introduction hr {
  width: 90%;
}

.Introduction p {
  font-size: 18px;
  font-family: "Avenir Next", "Nunito", sans-serif;
  text-align: left;
}

.Overview_Skills {
  align-content: center;
}

.Overview_Skills th, td, ul, li {
  font-size: 18px;
  font-family: "Avenir Next", "Nunito", sans-serif;
  text-align: left;
}

.Footer {
  background-color: #E0E0E2;
  text-align: center;
  padding: 10px;
}

.Footer p {
  font-size: 16px;
  color: #0E1116;
  font-family: "Avenir Next", "Nunito", sans-serif;
}

.Footer a {
  font-size: 16px;
  color: #0E1116;
  font-family: "Avenir Next", "Nunito", sans-serif;
}

.Footer a:hover {
  background-color: #9B7E46;
  color: #E0E0E2;
}
