.Introduction p {
  font-size: 18px;
  font-family: "Avenir Next", "Nunito", sans-serif;
  text-align: left;
  height: 100%;
}

.Introduction a {
  color: var(--text-color);
  font-size: 18px;
}

.Introduction a:visited {
  color: var(--text-color);
}

.Introduction a:hover {
  font-family: "Avenir Next", "Nunito", sans-serif;
  color: var(--accent-color);
}

.Introduction h1 {
  font-size: 32px;
  font-family: "Courier";
  text-align: center;
}

.Introduction h2 {
  font-size: 20px;
  font-family: "Avenir Next", "Nunito", sans-serif;
  text-align: center;
}

.Introduction span {
  font-size: 18px;
  font-family: "Avenir Next", "Nunito", sans-serif;
  text-align: left;
}

#Website {
  font-size: 16px;
  font-family: "Avenir Next", "Nunito", sans-serif;
  text-align: left;
}

#Honor_Council_App {
  font-size: 16px;
  font-family: "Avenir Next", "Nunito", sans-serif;
  text-align: left;
}
