.Back {
  align-content: left;
}

.Back a {
  font-family: "Avenir Next", "Nunito", sans-serif;
  color: #0E1116;
}

.Back a:visited {
  color: #000000;
}

.Back a:hover {
  font-family: "Avenir Next", "Nunito", sans-serif;
  color: #9B7E46;
}

.Project_Introduction {
  align-content: left;
}

.Project_Introduction h1 {
  font-size: 32px;
  font-family: "Courier";
  text-align: center;
}

.Project_Introduction h2 {
  font-size: 20px;
  font-family: "Avenir Next", "Nunito", sans-serif;
  text-align: center;
}

.Project_Introduction p {
  font-size: 18px;
  font-family: "Avenir Next", "Nunito", sans-serif;
  text-align: left;
  color: #000000;
}

.Project_Introduction a {
  font-size: 18px;
  font-family: "Avenir Next", "Nunito", sans-serif;
  text-align: left;
  color: #000000;
}

.Project_Introduction a:visited {
  font-family: "Avenir Next", "Nunito", sans-serif;
  color: #000000;
}

.Project_Introduction a:hover {
  font-family: "Avenir Next", "Nunito", sans-serif;
  color: #9B7E46;
}

.Project_Body {
  font-size: 18px;
  font-family: "Avenir Next", "Nunito", sans-serif;
  text-align: left;
}

.Video {
  margin: 0 auto;
  text-align: center;
}

#Preview {
  text-align: center;
  width: 80%;
  height: auto;
}
