.Back {
  align-content: left;
}

.Back a {
  font-family: "Avenir Next", "Nunito", sans-serif;
  color: #0E1116;
}

.Back a:hover {
  font-family: "Avenir Next", "Nunito", sans-serif;
  color: #9B7E46;
}

.Project_Title {
  align-content: left;
}

.Project_Title h1 {
  font-size: 32px;
  font-family: "Courier";
  text-align: center;
}

.Project_Title h2 {
  font-size: 20px;
  font-family: "Avenir Next", "Nunito", sans-serif;
  text-align: center;
}

.Project_Title p {
  font-size: 18px;
  font-family: "Avenir Next", "Nunito", sans-serif;
  text-align: left;
}

.Project {
  font-size: 18px;
  font-family: "Avenir Next", "Nunito", sans-serif;
  text-align: left;
}

#Note {
  font-size: 14px;
  font-family: "Avenir Next", "Nunito", sans-serif;
  font-style: italic;
}

.Video {
  margin: 0 auto;
  text-align: center;
}

#Preview {
  text-align: center;
  width: 80%;
  height: auto;
}
