.Project_Introduction {
  align-content: left;
}

.Project_Introduction h1 {
  font-size: 32px;
  font-family: "Courier";
  text-align: center;
}

.Project_Introduction h2 {
  font-size: 20px;
  font-family: "Avenir Next", "Nunito", sans-serif;
  text-align: center;
}

.Project_Introduction p {
  font-size: 18px;
  font-family: "Avenir Next", "Nunito", sans-serif;
  text-align: left;
}

.Project_Description {
  font-size: 18px;
  font-family: "Avenir Next", "Nunito", sans-serif;
  text-align: left;
}

.Video {
  margin: 0 auto;
  text-align: center;
}

#Preview {
  text-align: center;
  width: 80%;
  height: auto;
}
