.Project_Introduction {
  align-content: left;
}

.Project_Introduction h1 {
  font-size: 32px;
  font-family: "Courier";
  text-align: center;
}

.Project_Introduction h2 {
  font-size: 20px;
  font-family: "Avenir Next", "Nunito", sans-serif;
  text-align: center;
}

.Project_Introduction p {
  font-size: 18px;
  font-family: "Avenir Next", "Nunito", sans-serif;
  text-align: left;
}

.Sources {
  font-family: "Avenir Next", "Nunito", sans-serif;
  color: var(--text-color);
  font-size: 18px;
  text-align: center;
}

.Sources {
  font-size: 16px;
}

.Definition {
  font-family: "Avenir Next", "Nunito", sans-serif;
    color: var(--text-color);
  font-size: 18px;
}

.Attributes {
  font-family: "Courier";
    color: var(--text-color);
  font-size: 18px;
  font-weight: bold;
}

.Col {
  float: left;
  width: 50%;
}

.Row {
  margin-bottom: 20px;
}

.Row:after {
  content: "";
  display: table;
  clear: both;
}

.tableauPlaceholder p {
  align-content: center;
}

#alpha {
  font-family: "Arial";
  font-size: 18px;
  color: var(--text-color);
}

.Comment {
  font-family: "Avenir Next", "Nunito", sans-serif;
  color: var(--text-color);
  font-size: 18px;
  text-align: left;
}

.Source {
  font-family: "Avenir Next", "Nunito", sans-serif;
  color: var(--text-color);
  font-size: 10px;
}
    
.Source a {
  font-family: "Avenir Next", "Nunito", sans-serif;
  color: #0E1116;
}

.Source a:visited {
  color: var(--text-color);
}

.Source a:hover {
  color: var(--accent-color);
}

.Function {
  font-family: "Courier";
  font-size: 18px;
  color: var(--text-color);
}

#Note {
  font-family: "Avenir Next", "Nunito", sans-serif;
  font-size: 14px;
  color: var(--text-color);
}
    
.Description {
  font-family: "Avenir Next", "Nunito", sans-serif;
  color: var(--text-color);
  font-size: 18px;
}

.Questions {
  font-family: "Avenir Next", "Nunito", sans-serif;
  color: var(--text-color);
  font-size: 18px;
}

#Q {
  font-weight: 500;
}

.Conclusion {
  font-family: "Avenir Next", "Nunito", sans-serif;
  color: var(--text-color);
  font-size: 18px;
}
