/*
Color Pallette Guide:
Gainsboro - #E0E0E2 (gray)
Dark Red - #B10F2E
Rich Black - #0E1116
Metallic Sunburst - #9B7E46 (gold)
/*

/* CSS Code for making the Header of the Homepage */
.Header {
  padding: 20px;
  background-color: #E0E0E2;
}

.Header h1 {
  font-size: 32px;
  font-family: "Avenir Next";
  text-align: center;
  color: #0E1116;
}

/* The navbar container */
.Navigation {
  overflow: hidden;
  background-color: #B10F2E;
}

/* Navbar links */
.Navigation a {
  float: left;
  display: block;
  font-family: "Avenir Next";
  color: #E0E0E2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.Navigation a:hover {
  background-color: #9B7E46;
  color: #E0E0E2;
}

.Back {
  align-content: left;
}

.Back a {
  font-family: "Avenir Next";
  color: #0E1116;
}

.Back a:visited {
  color #000000;
}

.Back a:hover {
  font-family: "Avenir Next";
  color: #9B7E46;
}

.Project_Introduction {
  align-content: left;
}

.Project_Introduction h1 {
  font-size: 32px;
  font-family: "Courier";
  text-align: center;
}

.Project_Introduction h2 {
  font-size: 20px;
  font-family: "Avenir Next";
  text-align: center;
}

.Project_Introduction p {
  font-size: 18px;
  font-family: "Avenir Next";
  text-align: left;
}

.Project_Introduction a {
  font-size: 18px;
  font-family: "Avenir Next";
  text-align: left;
  color: #000000;
}

.Project_Introduction a:visited {
  font-family: "Avenir Next";
  color: #000000;
}

.Project_Introduction a:hover {
  font-family: "Avenir Next";
  color: #9B7E46;
}

.Sources {
  font-family: "Avenir Next";
  color: #000000;
  font-size: 18px;
  text-align: center;
}

.Sources {
  font-size: 16px;
}

.Definition {
  font-family: "Avenir Next";
  color: #000000;
  font-size: 18px;
}

.Attributes {
  font-family: "Courier";
  color: #000000;
  font-size: 18px;
  font-weight: bold;
}

.Col {
  float: left;
  width: 50%;
}

.Row {
  margin-bottom: 20px;
}

.Row:after {
  content: "";
  display: table;
  clear: both;
}

.tableauPlaceholder p {
  align-content: center;
}

#alpha {
  font-family: "Arial";
  font-size: 18px;
  color: #000000;
}

.Comment {
  font-family: "Avenir Next";
  color: #000000;
  font-size: 18px;
  text-align: left;
}

.Description {
  font-family: "Avenir Next";
  color: #000000;
  font-size: 18px;
}

.Questions {
  font-family: "Avenir Next";
  color: #000000;
  font-size: 18px;
}

.Footer {
  background-color: #E0E0E2;
  text-align: center;
  padding: 10px;
}

.Footer p {
  font-size: 16px;
  color: #0E1116;
  font-family: "Avenir Next";
}

.Footer a {
  font-size: 16px;
  color: #0E1116;
  font-family: "Avenir Next";
}

.Footer a:hover {
  background-color: #9B7E46;
  color: #E0E0E2;
}
