.Project_Title h1 {
  font-size: 32px;
  font-family: "Courier";
  text-align: center;
}

.Project_Title h2 {
  font-size: 20px;
  font-family: "Avenir Next", "Nunito", sans-serif;
  text-align: center;
}

.Project_Title p {
  font-size: 18px;
  font-family: "Avenir Next", "Nunito", sans-serif;
  text-align: left;
  color: var(--text-color);
}

.Project_Body {
  font-size: 18px;
  font-family: "Avenir Next", "Nunito", sans-serif;
  text-align: left;
}

.Update {
  font-size: 18px;
  font-style: italic;
  font-family: "Avenir Next", "Nunito", sans-serif;
  color: var(--text-color);
  text-align: left;
}
