<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/colors.css"/>
    <link rel="stylesheet" href="/css/components.css"/>
    {% if pageCSS %}
    <link rel="stylesheet" href="/{{ pageCSS }}"/>
    {% endif %}
    {% if pageCSSMobile %}
    <link rel="stylesheet" media="only screen and (max-width: 1000px)" href="/{{ pageCSSMobile }}">
    {% endif %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
  </head>
  <body>
    {% include "header.html" %}
    {% include "nav.html" %}
    {{ content }}
    {% include "footer.html" %}
  </body>
</html>
