.main-font {
  font-family: "Mulish";
}

.signature-font {
  font-family: "Sacramento";
  float: left;
  width: 50%;
  text-align: center;
}

.body-font {
  font-family: "Mulish";
}

.footer-font {
  font-font: "Mulish";
  align-content: center;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .main-font {
    font-size: 75%;
  }

  .signature-font {
    width: 100%;
    font-size: 95%;
  }

  .body-font {
    font-size: 75%;
  }

  .footer-font {
    font-size: 75%;
  }
}
